[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/immer"]
	path = vendor/immer
	url = https://github.com/arximboldi/immer
[submodule "vendor/FunctionalPlus"]
	path = vendor/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus
